@import "tailwindcss/base";

@import "tailwindcss/components";

.top-8 {
    top: 2rem;
}

.top-12 {
    top: 3rem;
}

.shadow-outline-teal {
    box-shadow: 0 0 0 3px rgba(126, 220, 226, .45);
}

.focus\:shadow-outline-teal:focus {
    @apply shadow-outline-teal;
}

.group:hover .group-hover\:translate-r-5px {
    transform: translateX(5px);
}

.-translate-x-full {
    transform: translateX(-100%);
}

@screen lg {
    .lg\:translate-x-0 {
        transform: translateX(0);
    }
}

.sidebar-open {
    .documentation-block {
        @apply hidden;
    }

    .sidebar {
        @apply absolute block left-0 right-0 px-6 py-8;
        top: 2px;
    }
}

.home-link:focus img {
    @apply shadow-outline-teal;
}

@media (min-width: 1024px) {
    .home-link:focus img {
        box-shadow: none;
    }
}

.documentation-block {
    @apply mx-auto;
    max-width: 650px;
    width: 650px;
}

@media (min-width: 768px) {
    .sidebar-open .sidebar {
        @apply px-8;
    }
}

@media (min-width: 1024px) {
    .sidebar-open {
        .documentation-block {
            @apply block;
        }

        .sidebar {
            @apply w-56 px-0 py-0;
            position: initial;
            top: initial;
            right: initial;
            left: initial;
        }
    }
}

.documentation-content {
    a.header-anchor {
        @apply hidden;
        font-size: 0.85em;
        float: left;
        margin-left: -0.87em;
        padding-right: 0.23em;
        margin-top: 0.125em;
        opacity: 0;
    }

    a {
        @apply text-teal-500 font-medium no-underline;
    }

    a:hover,
    a:focus {
        @apply underline;
    }

    h1:hover a.header-anchor,
    h2:hover a.header-anchor,
    h3:hover a.header-anchor,
    h4:hover a.header-anchor,
    h5:hover a.header-anchor,
    h6:hover a.header-anchor {
        opacity: 1;
        display: block;
    }

    h1 {
        @apply text-3xl font-semibold;
    }

    h2 {
        @apply text-xl mt-8;

        &:before {
            @apply block border-t border-gray-200 mb-4;
            content: '';
        }
    }

    h3 {
        @apply text-lg mt-6;
    }

    p {
        //@apply text-gray-700 mt-4 leading-relaxed;
        @apply text-gray-700 mt-4 leading-7;
        //@apply text-gray-700 mt-4 leading-relaxed text-sm;
    }

    code {
        @apply bg-cool-gray-100 font-sans px-1 rounded text-gray-800;
    }

    mark {
        @apply bg-teal-50 rounded text-teal-800;
        padding: .125rem .25rem;
    }

    ol, ul {
        //@apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-relaxed;
        @apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-7;
        //@apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-relaxed text-sm;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }
}

.alert {
    @apply p-6 border-b-4 border-cool-gray-500 rounded my-4 bg-cool-gray-50 text-cool-gray-800 shadow items-start;

    .alert-title {
        @apply mt-0 font-bold flex items-center mb-2;
    }

    .alert-content {
        @apply w-full;
    }

    p,
    ol,
    ul, {
        @apply mt-0;
    }
}

@screen sm {
    .alert {
        @apply flex -mx-2;
    }

    .alert .alert-title {
        @apply mb-0 px-2;
    }

    .alert .alert-content {
        @apply flex-1 px-2;
    }
}

.alert.alert-tip {
    @apply border-green-500;

    .alert-title {
        @apply text-green-900;
    }
}

.alert.alert-warning {
    @apply border-orange-500;

    .alert-title {
        @apply text-orange-900;
    }
}

.alert.alert-danger {
    @apply border-red-500;

    .alert-title {
        @apply text-red-900;
    }
}

@import "tailwindcss/utilities";
