@import "tailwindcss/base";

@import "tailwindcss/components";

.top-8 {
    top: 2rem;
}

.shadow-outline-teal {
    box-shadow: 0 0 0 3px rgba(126, 220, 226, .45);
}

.focus\:shadow-outline-teal:focus {
    @apply shadow-outline-teal;
}

.sidebar-open {
    .full-content {
        @apply relative;
    }

    .documentation-block {
        @apply hidden;
    }

    .sidebar {
        @apply absolute block left-0 right-0 pt-8 px-4;
        top: 2px;
    }
}

.documentation-block {
    @apply mx-auto;
    max-width: 650px;
    width: 650px;
}

.documentation-content {
    a.header-anchor {
        font-size: 0.85em;
        float: left;
        margin-left: -0.87em;
        padding-right: 0.23em;
        margin-top: 0.125em;
        opacity: 0;
    }

    a {
        @apply text-teal-500 font-medium no-underline;
    }

    a:hover,
    a:focus {
        @apply underline;
    }

    h1:hover .header-anchor,
    h2:hover .header-anchor,
    h3:hover .header-anchor,
    h4:hover .header-anchor,
    h5:hover .header-anchor,
    h6:hover .header-anchor {
        opacity: 1;
    }

    h1 {
        @apply text-3xl font-semibold;
    }

    h2 {
        @apply text-xl mt-8;

        &:before {
            @apply block border-t border-gray-200 mb-4;
            content: '';
        }
    }

    h3 {
        @apply text-lg mt-6;
    }

    p {
        //@apply text-gray-700 mt-4 leading-relaxed;
        @apply text-gray-700 mt-4 leading-7;
        //@apply text-gray-700 mt-4 leading-relaxed text-sm;
    }

    code {
        @apply bg-cool-gray-100 font-sans px-1 rounded text-gray-800;
    }

    ol, ul {
        //@apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-relaxed;
        @apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-7;
        //@apply text-gray-700 mt-2 mb-2 list-inside ml-2 leading-relaxed text-sm;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }
}

.custom-block.tip,
.custom-block.warning,
.custom-block.danger {
    @apply px-6 py-4 border-l-4 rounded-r-lg mt-4 mb-4;

    p,
    ol,
    ul, {
        @apply mt-0;
    }

    .custom-block-title {
        @apply mt-0 mb-2 font-bold flex items-center;
    }
}

.custom-block.tip {
    @apply border-green-500 bg-green-50;

    .custom-block-title {
        @apply text-green-800;
    }

    p,
    ol,
    ul, {
        @apply text-green-700;
    }
}

.custom-block.warning {
    @apply border-orange-500 bg-orange-50;

    .custom-block-title {
        @apply text-orange-800;
    }

    p,
    ol,
    ul, {
        @apply text-orange-700;
    }
}

.custom-block.danger {
    @apply border-red-500 bg-red-50;

    .custom-block-title {
        @apply text-red-800;
    }

    p,
    ol,
    ul, {
        @apply text-red-700;
    }
}

@import "tailwindcss/utilities";
